.popup-content {
    border-radius: 1rem;
    padding-bottom: 2rem;
}
.button-text {
    position: relative;
    display: inline-block;
    z-index: 1; 
}

.emoji {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    top: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0; 
    z-index: 0; 
}
