html,
body {
    margin: 0;
    padding: 0;
    background-color: #1e293b;
    min-height: 100vh;
}

.blinking-cursor {
    display: inline-block;
    width: 1px;
    background: rgb(138, 35, 211); 
    animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
